@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* base styles */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #07282c;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

